openapi: 3.1.1
info:
  title: GFE Core Repo Control
  description: 'Read, write, inspect, and manage a per-recipient copy of the GFE core repo
    through the GitHub REST API.
    This template is intended for cloned/copy repos, not for one shared
    multi-user writable instance.
    It reflects the lean core write-path defaults: prefer saveFile for routine
    maintenance, use Base64 only at the connector boundary, and reserve
    low-level git-object flows for advanced recovery or multi-file
    construction. Hard deletes should use the low-level git flow
    (createTree with sha:null, createCommit, updateRef) instead of deleteFile.'
  version: 3.5-template
servers:
- url: https://api.github.com/repos/OWNER_PLACEHOLDER/REPO_PLACEHOLDER
  description: Recipient GFE Core Repository
components:
  schemas:
    Branch:
      type: object
      properties:
        name:
          type: string
        commit:
          type: object
          properties:
            sha:
              type: string
    GitRef:
      type: object
      properties:
        ref:
          type: string
        object:
          type: object
          properties:
            sha:
              type: string
  securitySchemes:
    githubToken:
      type: http
      scheme: bearer
      bearerFormat: GitHubPAT
security:
- githubToken: []
paths:
  /contents:
    get:
      operationId: listRoot
      summary: List repository root contents
      parameters:
      - name: ref
        in: query
        required: false
        schema:
          type: string
          default: main
      responses:
        '200':
          description: Root contents
  /contents/{path}:
    get:
      operationId: getPath
      summary: Get repository file or directory by path
      parameters:
      - name: path
        in: path
        required: true
        schema:
          type: string
        description: Any repository path, including nested case artifacts under cases/<slug>/...
      - name: ref
        in: query
        required: false
        schema:
          type: string
          default: main
      responses:
        '200':
          description: File or directory payload
      description: Canonical generic file/directory read operation for the lean core repo. Use this to capture the current file SHA immediately before update or delete operations.
    put:
      operationId: saveFile
      summary: Save any repository file by path
      parameters:
      - name: path
        in: path
        required: true
        schema:
          type: string
        description: Any repository path in the recipient repo copy.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - message
              - content
              - branch
              properties:
                message:
                  type: string
                content:
                  type: string
                  description: Base64-encoded UTF-8 file content. Transport-only encoding: prepare final plain UTF-8 text first, then encode once.
                branch:
                  type: string
                sha:
                  type: string
                  description: Required for updates. Capture the current file SHA with getPath immediately before saveFile.
      responses:
        '201':
          description: Created
        '200':
          description: Updated
        '401':
          description: Unauthorized or bad token.
        '403':
          description: Forbidden by permissions, token scope, or protected resource policy.
        '404':
          description: Path not found or repository resource unavailable at the requested location.
        '409':
          description: Conflict or stale SHA / branch moved ahead of the base used for the write.
        '422':
          description: Malformed payload, invalid Base64 content, or missing/invalid SHA for the requested update.
      description: Create or update any repository file by path. Use serially. Prepare final UTF-8 text first, then Base64-encode once at the connector boundary. For updates, read the current SHA with getPath immediately before saveFile.
  /contents/cases:
    get:
      operationId: listCases
      summary: List top-level case folders under /cases
      parameters:
      - name: ref
        in: query
        required: false
        schema:
          type: string
          default: main
      responses:
        '200':
          description: Cases directory listing
      description: Lists only the top-level case slug directories under /cases, one of the protected core areas. For nested case files, use getPath/saveFile/deleteFile with a full path beginning with cases/.
  /branches:
    get:
      operationId: listBranches
      summary: List all branches
      responses:
        '200':
          description: Branch list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Branch'
  /git/ref/heads/{branch}:
    get:
      operationId: getBranchRef
      summary: Get HEAD SHA of a branch
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ref object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitRef'
  /git/ref/{ref}:
    get:
      operationId: getRef
      summary: Get a git reference by ref
      parameters:
      - name: ref
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ref object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitRef'
  /git/refs:
    post:
      operationId: createBranch
      summary: Create a new branch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - ref
              - sha
              properties:
                ref:
                  type: string
                  description: Full ref, e.g. refs/heads/cases/users/alice
                sha:
                  type: string
                  description: SHA to branch from
      responses:
        '201':
          description: Branch created
      description: Create a new ref. For branches, send a full ref such as refs/heads/cases/users/alice.
  /git/trees/{tree_sha}:
    get:
      operationId: getTree
      summary: Get a git tree
      parameters:
      - name: tree_sha
        in: path
        required: true
        schema:
          type: string
      - name: recursive
        in: query
        required: false
        schema:
          type: string
          default: '0'
        description: Use "1" for recursive tree listing
      responses:
        '200':
          description: Tree payload
  /git/blobs:
    post:
      operationId: createBlob
      summary: Create a blob from text or base64 content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - content
              - encoding
              properties:
                content:
                  type: string
                encoding:
                  type: string
                  enum:
                  - utf-8
                  - base64
      responses:
        '201':
          description: Blob created
      description: Advanced low-level git operation. Use only when the normal saveFile path is clearly not enough.
  /git/trees:
    post:
      operationId: createTree
      summary: Create a git tree for one or more file changes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - tree
              properties:
                base_tree:
                  type: string
                  description: Optional parent tree SHA
                tree:
                  type: array
                  items:
                    type: object
                    properties:
                      path:
                        type: string
                      mode:
                        type: string
                        description: Usually 100644 for files
                      type:
                        type: string
                        description: Usually blob
                      sha:
                        type:
                        - string
                        - 'null'
                        description: Blob SHA, if using a pre-created blob. Use null to remove an entry in the new tree.
                      content:
                        type: string
                        description: Raw UTF-8 text content, if not using sha.
      responses:
        '201':
          description: Tree created
      description: Advanced low-level git operation for multi-file construction or delete flows. Prefer saveFile for routine writes. To remove a path from the new tree, include the entry with sha: null.
  /git/commits/{commit_sha}:
    get:
      operationId: getCommit
      summary: Get a git commit object
      parameters:
      - name: commit_sha
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Commit payload
  /git/commits:
    post:
      operationId: createCommit
      summary: Create a commit from a tree and parent commits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - message
              - tree
              - parents
              properties:
                message:
                  type: string
                tree:
                  type: string
                  description: Tree SHA
                parents:
                  type: array
                  items:
                    type: string
                author:
                  type: object
                  additionalProperties: true
                committer:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: Commit created
      description: Advanced low-level git operation. Use after createTree when building a delete or recovery change. A created commit is not live until updateRef advances the target ref.
  /merges:
    post:
      operationId: mergeBranch
      summary: Merge one branch into another
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - base
              - head
              properties:
                base:
                  type: string
                  description: Target branch
                  default: main
                head:
                  type: string
                  description: Source branch, e.g. cases/users/alice
                commit_message:
                  type: string
                  description: Optional merge commit message
      responses:
        '201':
          description: Merged
      description: Create a merge commit by merging a source branch into a target branch. Useful for controlled promotion or branch consolidation in the lean core repo.
  /pages:
    get:
      operationId: getPagesSite
      summary: Get GitHub Pages site settings and status
      responses:
        '200':
          description: Pages payload
    put:
      operationId: updatePagesSite
      summary: Update GitHub Pages site settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cname:
                  type: string
                https_enforced:
                  type: boolean
                build_type:
                  type: string
                  enum:
                  - legacy
                  - workflow
                  description: Set to workflow to make GitHub Actions the Pages publishing source
                source:
                  type: object
                  properties:
                    branch:
                      type: string
                    path:
                      type: string
                      enum:
                      - /
                      - /docs
                  required:
                  - branch
                  - path
      responses:
        '204':
          description: Pages site updated
  /actions/workflows:
    get:
      operationId: listWorkflows
      summary: List repository workflows
      responses:
        '200':
          description: Workflow list
  /actions/workflows/{workflow_id}/runs:
    get:
      operationId: listWorkflowRuns
      summary: List runs for a workflow
      parameters:
      - name: workflow_id
        in: path
        required: true
        schema:
          type: string
        description: Workflow ID or filename, e.g. index-cases.yml
      - name: branch
        in: query
        required: false
        schema:
          type: string
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
      responses:
        '200':
          description: Workflow runs
  /actions/runs/{run_id}:
    get:
      operationId: getWorkflowRun
      summary: Get a single workflow run
      parameters:
      - name: run_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Workflow run payload
  /actions/workflows/{workflow_id}/dispatches:
    post:
      operationId: dispatchWorkflow
      summary: Trigger a workflow_dispatch workflow
      parameters:
      - name: workflow_id
        in: path
        required: true
        schema:
          type: string
        description: Workflow ID or filename, e.g. setup-repo.yml
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - ref
              properties:
                ref:
                  type: string
                  description: Branch or tag to run against
                inputs:
                  type: object
                  additionalProperties: true
      responses:
        '204':
          description: Workflow dispatched
  /git/refs/{ref}:
    patch:
      operationId: updateRef
      summary: Update a git reference to a new SHA
      parameters:
      - name: ref
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - sha
              properties:
                sha:
                  type: string
                force:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Ref updated
      description: Advance a git ref to a new SHA. Use after createCommit to make a low-level delete or recovery change live, then confirm with getRef or getBranchRef.
  /pages/builds:
    post:
      operationId: requestPagesBuild
      summary: Request a GitHub Pages build
      responses:
        '202':
          description: Pages build requested
  /pages/builds/latest:
    get:
      operationId: getLatestPagesBuild
      summary: Get latest GitHub Pages build
      responses:
        '200':
          description: Latest Pages build
